{% extends 'index.html' %}{% load static %}{% block body %}
<div class="about-info-wrapper">
    <div class="container">
        <div class="row" style="overflow-x: hidden">
            <div class="col-lg-12">
                <h1 class="font-weight-bold" data-aos="zoom-in" data-aos-duration="1000">
                    About us
                    <hr>
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="container about-wrapper">
    <div class="about-section p-sm-3 p-3">
        <div class="row" style="overflow-x: hidden">
            <div class="col-lg-6 mb-sm-3 mb-3" data-aos="slide-right" data-aos-duration="1000">
                <img class="img-fluid" src="{% static 'img/about.jpg'%}" alt="" />
            </div>
            <div class="col-lg-6 m-auto" data-aos="slide-left" data-aos-duration="1000">

                <h3>
                    Academia provides information about college events, projects and achievements. It also keeps you
                    updated about upcoming events via email.
                    We work with a minimalistic team and maximum efforts.
                </h3>

            </div>
        </div>
    </div>
</div>


{% endblock %}