{% extends 'index.html' %} {% load static %} {% block body %}
<div class="content-wrapper">
    <div class="about-us-wrapper">
        <div class="container text-center" data-aos="zoom-in" data-aos-duration="1000">
            <h1 class="text-uppercase">About us</h1>
            <hr>
        </div>
    </div>
    <div class="container row m-auto pb-lg-5 pb-5 pt-0" style="overflow-x: hidden">
        <div class="col-lg-6" data-aos="slide-right" data-aos-duration="1000">
            <img class="img-fluid mb-sm-3 mb-3" src="https://images.pexels.com/photos/6214/hands-people-woman-girl.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" />
        </div>
        <div class="col-lg-6 m-auto" data-aos="slide-left" data-aos-duration="1000">
            <h1 class="font-weight-bold">
                Academia, <br /> provides updates and information about latest Events, Activities, Workshops and much more.
            </h1>
        </div>
    </div>
    <h5 class="text-center px-sm-3 px-3">Developed with ❤️ by Vaishnavi Sawant</h5>
</div>
{% endblock %}